<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <div class=nav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
    <a href="{{ url_for('signup') }}">Sign up</a>
    <a href="{{ url_for('.index') }}">Home</a>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <u1 class='flashes'>
        {% for message in messages %}
          <div class="message_flash">{{ message }}</div>
        {% endfor %}
      </u1>
    {% endif %}
  {% endwith %}
{% block body %}{% endblock %}
</div>
